{%- assign settings_pr_img_size = settings.use_eq_height_blog_main -%}
{%- assign jas_blog_comment = false -%}
{%- case settings.post_per_row -%}
   {%- when 1 -%}
     {%- assign class_colum = '12' -%}{%- assign class_colum_2 = '12' -%}
   {%- when 2 -%}
     {%- assign class_colum = '6' -%}{%- assign class_colum_2 = '6' -%}
  {%- when 3 -%}
    {%- assign class_colum = '4' -%}{%- assign class_colum_2 = '6' -%}
  {%- when 4 -%}
    {%- assign class_colum = '3' -%}{%- assign class_colum_2 = '6' -%}
{%- endcase -%}
{%- assign block_width = 'col-lg-12' -%}
{%- if settings.show_blog_sidebar -%}
  {%- if settings.blog_sidebar_layout == 'left' -%}
     {%- assign block_width = 'col-lg-9 order-12' -%}
     {%- assign class_sidebar = 'col-lg-3 order-1' -%}
  {%- else -%}
     {%- assign block_width = 'col-lg-9' -%}
     {%- assign class_sidebar = 'col-lg-3' -%}
  {%- endif -%}
{%- endif -%}
{%- assign image = settings.blog_bg_image -%}
{%- assign color_scheme = settings.blog_color -%}
<div class="{{color_scheme}} shop-content-area collection_header with_term_description bg_overlay_{{settings.blog_overlay}} pr oh{%- if settings.use_parallax_blog %} ntparallax{%- endif %}{%- if image != blank %} with_featured_img lazyload nt_bg_lz lazypreload{%- else %} dark_ver{%- endif -%}"{%- if image != blank %} data-bgset="{%- include 'bgset', image: image -%}" data-sizes="auto" data-parent-fit="cover"{%- endif -%}>
  {%- if image -%}<div class="div_overlay"></div>{%- endif %}
   <div class="container tc">
      <div class="wrap_cat">
         <h1 class="page-title">{{blog.title }}</h1>
         {%- if settings.use_rss -%}
         <div class="term-description">
            <p><a href="{{ shop.url }}{{ blog.url }}.atom" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i> {{'blogs.blog.rss' | t}}</a></p>
         </div>
         {%- endif -%}
      </div>
   </div>
</div>
{%- paginate blog.articles by settings.post_limit -%}
<div class="container container_blog container_cat nasa-sc-posts-warp{{settings.blog_image_size}} {{settings.blog_image_ratio}} position_{{settings.blog_image_position}}{%- if settings_pr_img_size %} equal-nt{%- endif %}{%- if paginate.pages < 2 %} mb__40{%- endif -%}">
  <div class="{{settings.style}} row{%- if paginate.pages > 1 %} mb__60{%- endif -%}">
      <div class="{{block_width}} col-12">
         <div class="row{%- if settings.layout_blog == 'masonry' %} nt-masonry masonry{%- endif -%}" data-masonry='{"selector":".blog_item","layoutMode":"masonry"}'>
            {%- for article in blog.articles -%}
            <div class="blog_item col-lg-{{class_colum}} col-md-{{class_colum_2}} col-12 style_2 mt__5 mb__20 spb_animate">
              {%- if settings.style == 'default' -%}
                 <article class="nasa-content-group post-{{article.id}}">
                     {%- if settings_pr_img_size and article.image -%}
                        <div class="article__grid-image-wrapper pr oh product-img hover-{{settings.post_hover_effect}}">
                           <a class="db pr nt-pr-image-link nt_img_ratio lazyload nt_bg_lz" href="{{ article.url }}" data-bgset="{%- include 'bgset', image: article.image -%}" data-sizes="auto" data-parent-fit="cover"></a>
                        </div>
                     {%- elsif article.image -%}
                        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <div class="article__grid-image-wrapper product-img pr oh hover-{{settings.post_hover_effect}}">
                           <a class="db pr" href="{{ article.url }}">
                             <img class="article__grid-image w_100 lazyload" src="{{ article.image | img_url: '50x50' }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ article.image.aspect_ratio }}" data-sizes="auto" alt="{{ article.image.alt | escape }}">
                             <div class="nt-wrap-lazy"></div>
                           </a>
                        </div>
                     {%- endif -%}
                     <div class="post-info">
                        {%- if settings.show_title -%}<div class="nasa-post-cats-wrap mb__10 tu"><a href="{{blog.url}}" rel="category tag">{{blog.title}}</a></div>{%- endif -%}
                        <h5 class="blog_title fwb mb__10"><a href="{{ article.url }}">{{ article.title }}</a></h5>
                        {%- if settings.article_excerpt and article.excerpt.size > 0 -%}
                            <div class="post-content mb__10">{{ article.excerpt | strip_html }}</div>
                        {%- elsif settings.article_excerpt -%}
                            <div class="post-content mb__10">{{ article.content | strip_html | truncatewords: 15, " […]" }}</div>
                        {%- endif -%}
                        {%- if settings.blog_show_author -%}<span class="post-author mr__5">{{ 'blogs.article.by' | t }} <span class="cd">{{ article.author }}</span></span>{%- endif -%}{%- if settings.blog_show_date -%}<span class="post-time">{{ 'blogs.article.on' | t }} <span class="cd">{{ article.published_at | time_tag: format: 'month_day_year' }}</span></span>{%- endif -%}
                        {%- if blog.comments_enabled? and settings.blog_show_comments -%}
                              {%- assign jas_blog_comment = true -%}
                              {%- assign before_block = 'before_block' -%}
                        {%- endif -%}
                        {%- if settings.blog_show_read_more or jas_blog_comment -%}
                           <div class="post-action mt__10">
                              {%- if jas_blog_comment -%}<a href="{{ article.url }}#comments" class="post-read-more"><i class="icon-speech icons mr__5"></i> {{ 'blogs.comments.with_count' | t: count: article.comments_count }}</a>{%- endif -%}
                              {%- if settings.blog_show_read_more -%}<a href="{{ article.url }}" class="{{before_block}} post-read-more"><i class="icon-book-open icons mr__5"></i> {{ 'blogs.article.read_more' | t }}</a>{%- endif -%}
                           </div>
                        {%- endif -%}
                     </div>
                  </article>
               {%- else -%}
                  <article class="nasa-content-group post-{{article.id}} pr oh">
                     <figure class="imghvr-{{settings.post_hover_effect_2}}">
                        {%- if settings_pr_img_size and article.image -%}
                           <div class="article__grid-image-wrapper pr oh product-img img_bg_post">
                              <a class="db pr nt-pr-image-link nt_img_ratio lazyload nt_bg_lz" href="{{ article.url }}" data-bgset="{%- include 'bgset', image: article.image -%}" data-sizes="auto" data-parent-fit="cover"></a>
                           </div>
                        {%- elsif article.image -%}
                           {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                             <img class="article__grid-image w_100 lazyload" src="{{ article.image | img_url: '50x50' }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ article.image.aspect_ratio }}" data-sizes="auto" alt="{{ article.image.alt | escape }}">
                             <div class="nt-wrap-lazy"></div>
                        {%- endif -%}
                        <h5 class="pa-center w_100 tc blog_title fwb tu mg__0"><a href="{{ article.url }}" class="dib">{{ article.title }}</a></h5>
                        <figcaption class="pt__20 pl__30 pr__30 pb__20">
                           {%- if settings.show_title -%}<div class="nasa-post-cats-wrap mb__10 tu"><a href="{{blog.url}}" rel="category tag">{{blog.title}}</a></div>{%- endif -%}
                           <h5 class="blog_title fwb mb__10 nt-z-index_44 t_ellipsis"><a href="{{ article.url }}">{{ article.title }}</a></h5>
                           {%- if settings.article_excerpt and article.excerpt.size > 0 -%}
                            <div class="post-content mb__10">{{ article.excerpt | strip_html }}</div>
                           {%- elsif settings.article_excerpt -%}
                               <div class="post-content">{{ article.content | strip_html | truncatewords: 15, " […]" }}</div>
                           {%- endif -%}
                           <div class="nasa-date-author-wrap pt__25 mt__20">
                              {%- if settings.blog_show_author -%}<span class="post-author mr__5">{{ 'blogs.article.by' | t }} <span class="cd">{{ article.author }}</span></span>{%- endif -%}{%- if settings.blog_show_date -%}<span class="post-time">{{ 'blogs.article.on' | t }} <span class="cd">{{ article.published_at | time_tag: format: 'month_day_year' }}</span></span>{%- endif -%}
                              {%- if blog.comments_enabled? and settings.blog_show_comments -%}
                                    {%- assign jas_blog_comment = true -%}
                                    {%- assign before_block = 'before_block' -%}
                              {%- endif -%}
                              {%- if settings.blog_show_read_more or jas_blog_comment -%}
                                 <div class="post-action mt__10">
                                    {%- if jas_blog_comment -%}<a href="{{ article.url }}#comments" class="post-read-more"><i class="icon-speech icons mr__5"></i> {{ 'blogs.comments.with_count' | t: count: article.comments_count }}</a>{%- endif -%}
                                    {%- if settings.blog_show_read_more -%}<a href="{{ article.url }}" class="{{before_block}} post-read-more"><i class="icon-book-open icons mr__5"></i> {{ 'blogs.article.read_more' | t }}</a>{%- endif -%}
                                 </div>
                              {%- endif -%}
                           </div>
                        </figcaption>
                     </figure>
                  </article>
               {%- endif -%}
            </div>
            {%- endfor -%}
         </div>
         {%- if paginate.pages > 1 -%}<div class="mt__40">{%- include 'pagination' -%}</div>{%- endif -%}
      </div>
      {%- if settings.show_blog_sidebar -%}
         <div class="sidebar {{class_sidebar}} col-12">{%- section 'section_sidebar_blog' -%}</div>
      {%- endif -%}
  </div>
</div>
{%- endpaginate -%}