{%- layout none -%}
{%- if canonical_url contains 'q=' -%}
{%- assign paginate = canonical_url | split: 'q=' -%}
{%- assign last = paginate | last -%}
{%- assign last = last | split: '+' -%}
  {%- assign convert_index = last[0] | remove: "paginate_" -%}
  {%- assign paginate_index = convert_index | plus: 0 -%}
  {%- assign show_vendor = last[1] | remove: "vendor_" -%}
  {%- assign img_size = last[2] | remove: "img_size_" -%}
  {%- assign countdown = last[3] | remove: "countdown_" -%}
  {%- assign countdown_timer_style = last[4] | remove: "countdown_style_" -%}
  {%- assign sidetoshow = last[5] | remove: "sidetoshow_" -%}
  {%- assign autoplay = last[6] | remove: "autoplay_" -%}
  {%- assign autoplaySpeed = last[7] | remove: "autoplayspeed_" -%}
  {%- assign infinite = last[8] | remove: "infinite_" -%}
  {%- assign arrows = last[9] | remove: "arrows_" -%}
  {%- assign dots = last[10] | remove: "dots_" -%}
  {%- assign slidestoshow_1024 = last[11] | remove: "slidestoshow_1024_" -%}
  {%- assign slidestoshow_600 = last[12] | remove: "slidestoshow_600_" -%}
  {%- assign slidestoshow_480 = last[13] | remove: "slidestoshow_480_" -%}
  {%- assign product_hover = last[14] | remove: "pr_hover_" -%}
  {%- assign image_size = last[15] | remove: "image_size_" -%}
  {%- assign ratio = last[16] | remove: "ntratio_" -%}
  {%- assign position = last[17] | remove: "position_" -%}
{%- endif -%}
{%- assign grid_columns = '12' -%}
{%- assign class_md = '12' -%}
{%- assign class_xs = '12' -%}
{%- assign settings_pr_img_size = false -%}
{%- assign section_settings_countdown = false -%}
{%- if img_size == 'true' -%}{%- assign settings_pr_img_size = true -%}{%- endif -%}
{%- if countdown == 'true' -%}{%- assign section_settings_countdown = true -%}{%- endif -%}
{%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
{%- capture min_html -%}
      {%- assign current_page = '1' -%}
      {%- paginate collection.products by paginate_index -%}
      <div class="products row nt-products-holder nt-carousel {{image_size}} {{ratio}} position_{{position}}{%- if settings_pr_img_size %} equal-nt{%- endif -%}" data-slick='{"slidesToShow": {{ sidetoshow }},"slidesToScroll": 1, "autoplay": {%- if autoplay == 'true' -%}true{%- else -%}false{%- endif -%}, "autoplaySpeed": {{ autoplaySpeed |plus:0 }}000,"rtl": {{ settings.use_rtl }}, "infinite": {%- if infinite == 'true' -%}true{%- else -%}false{%- endif -%}, "arrows": {%- if arrows == 'true' -%}true{%- else -%}false{%- endif -%},"dots": {%- if dots == 'true' -%}true{%- else -%}false{%- endif -%}, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": {{ slidestoshow_1024}} }},{"breakpoint": 600,"settings":{"slidesToShow": {{ slidestoshow_600 }} }},{"breakpoint": 480,"settings":{"slidesToShow": {{ slidestoshow_480}} }}]}'>
        {%- for product in collection.products -%}
        {%- include 'nt_product_loop' -%}
        {%- endfor -%}
      </div>
      {%- endpaginate -%}
{%- endcapture -%}
{{min_html | strip_newlines | remove: "  "}} 
