<div class="{%- if product.images.size > 1 -%}col-md-10 order-12 {% endif -%}col-12 single-product-thumbnail pr left bc_{{cv_color}}">
   <div class="p-thumb images shopify-product-gallery nt_slick_op {{nt_carousel}} image-action-{{settings.main_click}} tc{%- if page_pr_img_size %} {{settings.image_size_thumb}} {{settings.image_ratio_thumb}} position_{{settings.image_position_thumb}} equal-nt{%- endif -%}" data-slick='{"slidesToShow": 1,"rtl": {{ settings.use_rtl }}, "slidesToScroll": 1,{%- if product.images.size > 1 %} "asNavFor": ".p-nav",{%- endif %} "fade":true,"adaptiveHeight": {% if page_pr_img_size -%}false{% else -%}true{%- endif -%}}'>
	{%- include 'arr_img_thum' -%}
   </div>
   {%- include 'group_btn_pr' -%}
   {%- include 'product_labels_pr' -%}
</div>
{%- if product.images.size > 1 -%}
<div class="col-md-2 col-12 order-1">
	<div class="p-nav nt_slick_op {{nt_carousel}} left{%- if nav_pr_img_size %} {{settings.image_size_nav}} {{settings.image_ratio_nav}} position_{{settings.image_position_nav}} equal-nt{%- endif -%}" data-slick='{"slidesToShow": 5,"slidesToScroll": 1,"asNavFor": ".p-thumb","arrows": false, "focusOnSelect": true, "vertical": true,"responsive":[{"breakpoint": 1025,"settings":{"slidesToShow": 4}},{"breakpoint": 740,"settings":{"slidesToShow": 4,"rtl": {{ settings.use_rtl }}, "vertical":false}}]}'>
   {%- include 'arr_img_nav' -%}
	</div>
</div>
{%- endif -%}