{%- include 'style_mp_section' -%}
{%- assign sett_title = section.settings.title -%}
{%- assign sett_sub_title = section.settings.sub_title -%}
{%- assign style_title = section.settings.style_title -%}
<div class="nt_custom_{{section.id}} {%- if section.settings.use_container %} container{%- else %} nt-full{%- endif -%}">
	{%- include 'nt_section_title' with style_title -%}
	<div class="custom-content{%- if sett_title != blank %} mt__30{%- endif %}">
		<div class="row alin_center">
			{%- for block in section.blocks -%}
			<div class="col-{{block.id}} col-lg-{{block.settings.grid_column}} col-md-{{block.settings.grid_columns_md}} col-{{block.settings.grid_columns_xs}} {{ section.settings.categories_design }} nt-item-category spb_animate">
            {%- case block.type -%}
              {%- when 'image' -%}
                 {%- if block.settings.image != blank -%}
	                 {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
	                 <div class="block_type_image">
	                 	  <img class="custom__image lazyload w__100"
                       src="{{ block.settings.image | img_url: '300x300' }}"
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                       data-sizes="auto"
                       alt="{{ block.settings.image.alt | escape }}">
	                 </div>
	               {%- else -%}
	                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
	               {%- endif -%}
              {%- when 'text' -%}
                  <div class="block_type_text {{block.settings.align}}">
                  	<h4 class="type_text_title fwb fs__30"><a href="{{block.settings.link}}">{{block.settings.title}}</a></h4>
                  	<p class="fs__16">{{block.settings.text | strip_html}}</p>
                    {%- if block.settings.link != blank and block.settings.btn_title != blank -%}
                    <a class="fs__14 fwb" href="{{block.settings.link}}">
                      <span class="btn__text tu">{{block.settings.btn_title}}</span>
                      <span class="btn__arrow dib mr__5">
                        <svg class="" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10"><path fill="currentColor" fill-rule="evenodd" d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535"></path></svg>
                      </span>
                    </a>
                    {%- endif -%}
                  </div>
              {%- when 'page' -%}
                  {%- if block.settings.page != blank -%}
                  {%- assign content_page = block.settings.page -%}
                  <div class="block_type_page {{block.settings.align}}">
                    {{ pages[content_page].content | html }}
                  </div>
                  {%- endif -%}
              {%- else -%}
	              {%- if block.settings.code != blank -%}
                  <div class="block_type_code {{block.settings.align}}">
                        {{ block.settings.code }}
                  </div>
	              {%- endif -%}
            {%- endcase -%}
			</div>
			{%- endfor -%}
		</div>
	</div>
</div>
{%- schema -%}
  {
    "name": "Custom content",
    "class": "nt-section nt_custom-content",
    "max_blocks": 30,
    "settings": [
      {
        "type": "header",
        "content": "== General Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Title"
      },
      {
        "type": "select",
        "id": "style_title",
        "options": [
         {
            "value": "type-simple",
            "label": "Style 1"
         },
         {
            "value": "hr-type-simple",
            "label": "Style 2"
          }
        ],
        "label": "Style title"
      },
     {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "checkbox",
        "id": "use_container",
        "label": "Use container?",
        "default": true
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "text",
        "id": "section_margin_top",
        "label": "Margin top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom",
        "label": "Margin bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_left",
        "label": "Margin left",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_margin_right",
        "label": "Margin right",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_top",
        "label": "Padding top",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_right",
        "label": "Padding right",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_bottom",
        "label": "Padding bottom",
        "info": "60px"
      },
      {
        "type": "text",
        "id": "section_padding_left",
        "label": "Padding left",
        "info": "60px"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "section_margin_top_mb",
        "label": "Margin top",
        "info": "20px"
      },
      {
        "type": "text",
        "id": "section_margin_bottom_mb",
        "label": "Margin bottom",
        "info": "20px"
      },
      {
        "type": "text",
        "id": "section_padding_top_mb",
        "label": "Padding top",
        "info": "20px"
      },
      {
        "type": "text",
        "id": "section_padding_right_mb",
        "label": "Padding right",
        "info": "20px"
      },
      {
        "type": "text",
        "id": "section_padding_bottom_mb",
        "label": "Padding bottom",
        "info": "20px"
      },
      {
        "type": "text",
        "id": "section_padding_left_mb",
        "label": "Padding left",
        "info": "60px"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
          {
            "type": "select",
            "id": "grid_column",
            "label": "Columns",
            "default": "3",
            "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "8",
               "label": "66.66666667%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33.33333333%"
              },
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "15",
                "label": "20%"
              },
              {
                "value": "2",
                "label": "16.666667%"
              }
            ]
          },
          {
            "type": "select",
            "id": "grid_columns_md",
            "label": "Columns tablet",
            "default": "4",
            "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "8",
               "label": "66.66666667%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33.33333333%"
              },
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "15",
                "label": "20%"
              },
              {
                "value": "2",
                "label": "16.666667%"
              }
            ]
          },
         {
           "type": "select",
           "id": "grid_columns_xs",
           "label": "Columns Mobile",
           "default": "6",
           "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "6",
               "label": "50%"
             }
           ]
         }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "html",
            "id": "code",
            "label": "HTML",
            "default": "<h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers."
          },
          {
            "type": "select",
            "id": "align",
            "label": "Text alignment",
            "default": "tl",
            "options": [
              {
               "value": "tl",
               "label": "Left"
              },
              {
                "value": "tr",
                "label": "Right"
              },
              {
                "value": "tc",
                "label": "Center"
              }
            ]
          },
          {
            "type": "select",
            "id": "grid_column",
            "label": "Columns",
            "default": "3",
            "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "8",
               "label": "66.66666667%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33.33333333%"
              },
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "15",
                "label": "20%"
              },
              {
                "value": "2",
                "label": "16.666667%"
              }
            ]
          },
          {
            "type": "select",
            "id": "grid_columns_md",
            "label": "Columns tablet",
            "default": "4",
            "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "8",
               "label": "66.66666667%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33.33333333%"
              },
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "15",
                "label": "20%"
              },
              {
                "value": "2",
                "label": "16.666667%"
              }
            ]
          },
         {
           "type": "select",
           "id": "grid_columns_xs",
           "label": "Columns Mobile",
           "default": "6",
           "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "6",
               "label": "50%"
             }
           ]
         }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "id": "page",
            "type": "page",
            "label": "Page"
          },
          {
            "type": "select",
            "id": "align",
            "label": "Text alignment",
            "default": "tl",
            "options": [
              {
               "value": "tl",
               "label": "Left"
              },
              {
                "value": "tr",
                "label": "Right"
              },
              {
                "value": "tc",
                "label": "Center"
              }
            ]
          },
          {
            "type": "select",
            "id": "grid_column",
            "label": "Columns",
            "default": "3",
            "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "8",
               "label": "66.66666667%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33.33333333%"
              },
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "15",
                "label": "20%"
              },
              {
                "value": "2",
                "label": "16.666667%"
              }
            ]
          },
          {
            "type": "select",
            "id": "grid_columns_md",
            "label": "Columns tablet",
            "default": "4",
            "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "8",
               "label": "66.66666667%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33.33333333%"
              },
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "15",
                "label": "20%"
              },
              {
                "value": "2",
                "label": "16.666667%"
              }
            ]
          },
         {
           "type": "select",
           "id": "grid_columns_xs",
           "label": "Columns Mobile",
           "default": "6",
           "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "6",
               "label": "50%"
             }
           ]
         }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
         {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Talk about your brand"
         },
         {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
         },
          {
            "type": "text",
            "id": "btn_title",
            "label": "Button title",
            "default":"Shop now"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button link",
            "default": "/"
          },
          {
            "type": "select",
            "id": "align",
            "label": "Text alignment",
            "default": "tl",
            "options": [
              {
               "value": "tl",
               "label": "Left"
              },
              {
                "value": "tr",
                "label": "Right"
              },
              {
                "value": "tc",
                "label": "Center"
              }
            ]
          },
          {
            "type": "select",
            "id": "grid_column",
            "label": "Columns",
            "default": "3",
            "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "8",
               "label": "66.66666667%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33.33333333%"
              },
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "15",
                "label": "20%"
              },
              {
                "value": "2",
                "label": "16.666667%"
              }
            ]
          },
          {
            "type": "select",
            "id": "grid_columns_md",
            "label": "Columns tablet",
            "default": "4",
            "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "8",
               "label": "66.66666667%"
              },
              {
                "value": "6",
                "label": "50%"
              },
              {
                "value": "4",
                "label": "33.33333333%"
              },
              {
                "value": "3",
                "label": "25%"
              },
              {
                "value": "15",
                "label": "20%"
              },
              {
                "value": "2",
                "label": "16.666667%"
              }
            ]
          },
         {
           "type": "select",
           "id": "grid_columns_xs",
           "label": "Columns Mobile",
           "default": "6",
           "options": [
             {
               "value": "12",
               "label": "100%"
             },
             {
               "value": "6",
               "label": "50%"
             }
           ]
         }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom content",
        "category": "9. Layout",
        "blocks": [
          {
            "type": "image",
            "settings": {
              "grid_column": "6",
              "grid_columns_md": "6",
              "grid_columns_xs": "12"
            }
          },
          {
            "type": "text",
            "settings": {
              "grid_column": "6",
              "grid_columns_md": "6",
              "grid_columns_xs": "12"
            }
          },
          {
            "type": "text",
            "settings": {
              "grid_column": "6",
              "grid_columns_md": "6",
              "grid_columns_xs": "12"
            }
          },
          {
            "type": "image",
            "settings": {
              "grid_column": "6",
              "grid_columns_md": "6",
              "grid_columns_xs": "12"
            }
          }
        ]
      }
    ]
  }
{% endschema %}