{%- if settings.use_wishlist -%}{%- include 'nitro-wishlist' -%}{%- endif -%}
{%- assign paginate_index = section.settings.paginate_index | plus: 0 -%}
{%- assign show_vendor = section.settings.show_vendor -%}
{%- assign settings_pr_img_size = section.settings.use_eq_height -%}
{%- assign section_settings_countdown = section.settings.sale_countdown -%}
{%- assign countdown_timer_style = section.settings.countdown_style -%}
{%- assign use_pagination = section.settings.use_pagination -%}
{%- assign collection = collections[section.settings.collection] -%}
{%- assign grid_columns = section.settings.grid_column -%}
{%- assign class_md = section.settings.grid_columns_md -%}
{%- assign class_xs = section.settings.grid_columns_xs -%}
{%- assign product_hover = 'hover-fade' -%}
{%- assign current_page = '1' -%}
{%- assign sett_title = section.settings.title -%}
{%- paginate collection.products by paginate_index -%}
<h3 class="pr">Code:</h3>
<code>
  <!-- Shortcode product --> 
[product title="{{sett_title}}" limit="{{paginate_index}}" cols="{{grid_columns}}" cols_mb="{{class_md}}" cols_xs="{{class_xs}}" pagination="{{use_pagination}}" layout="layout1" handle_collection="{{section.settings.collection}}" style="{{pr_style}}" vendors="{{show_vendor}}" countdown="{{section_settings_countdown}}" countdown_style="{{countdown_timer_style}}" equal="{{settings_pr_img_size}}" size="{{section.settings.image_size}}" ratio="{{section.settings.image_ratio}}" position="{{section.settings.image_position}}" ]
 <!-- / Shortcode product -->
</code>
<h3 class="mt__30 pr">Demo:</h3>
<div class="nt_custom_{{section.id}} none_container">
  {%- if sett_title != blank -%}
  <div class="mt__50 mb__40 nt_separator nt_separator_align_center nt_sep_width_100 nt_sep_double nt_sep_pos_align_center nt_sep_color_grey nt_custom_1479922305779 nt_separator-has-text">
     <span class="nt_sep_holder nt_sep_holder_l"><span class="nt_sep_line"></span></span>
     <h4>{{ sett_title }}</h4>
     <span class="nt_sep_holder nt_sep_holder_r"><span class="nt_sep_line"></span></span>
  </div>
  {%- endif -%}
  <div class="products row nt-products-holder {{section.settings.image_size}} {{section.settings.image_ratio}} position_{{section.settings.image_position}}{%- if settings_pr_img_size %} equal-nt{%- endif -%}">
      {%- for product in collection.products -%}
         {%- include 'nt_product_loop' -%}
      {%- else -%}
         {%- for i in (1..8) -%}
            <div class="spb_animate col-{{class_xs}} col-md-{{class_md}} col-lg-{{grid_columns}} product product-item grid nt-grid-item hover-fade">
               <div class="product-inner">
                  <div class="product-img-wrap pr tc">
                     <div class="product-img hover-overlay pr oh">
                        <a href="/collections/test/products/analogue-resin-strap-watch" class="db">
                           <div class="main-img nt-product-img-element nt-pr-image-link">
                              {%- capture current -%}{%- cycle 7,8,9,10,11,12,13,14,15,16,1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
                              <img src="{{ 'product-' | append: current | append: '.jpg' | asset_url }}" class="attachment-shop_catalog size-shop_catalog" alt="Analogue Resin Strap Watch">
                           </div>
                        </a>
                     </div>
                     <div class="add-to-cart-btn pa"><a href="/admin/products" class="tooltip_left" aria-label="{{'products.product.add_to_cart'|t}}"><i class="icon-handbag icons"></i></a></div>
                  </div>
                  <div class="product-info-wrap pr">
                     <div class="name nasa-show-one-line"><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></div>
                     <div class="info flex flex_row c_between">
                        <div class="price-wrap"><span class="price"><del><span class="money">$90.00</span></del> <ins><span class="money">$80.00</span></ins></span></div>
                     </div>
                  </div>
               </div>
            </div>
         {%- endfor -%}
      {%- endfor -%}
  </div>
  {%- if paginate.pages > 1 and use_pagination != 'none' -%}
  <div class="products-footer tc mt__40">
    {%- if use_pagination == 'more-btn-infinite' or use_pagination == 'more-btn' -%}
    {%- assign next_url =  paginate.next.url | split: '?' | last -%}
    <a href="{{ collection.url }}?{{ next_url }}&q=paginate_{{paginate_index}}+columns_{{ grid_columns }}+columns_md_{{ class_md }}+columns_xs_{{ class_xs }}+vendor_{{ show_vendor }}+img_size_{{ settings_pr_img_size }}+countdown_{{ section_settings_countdown }}+countdown_style_{{ countdown_timer_style }}+pr_hover_{{ product_hover }}+image_size_{{img_size}}&view=ajax" class="pr tu fwb ls__2 nt-products-load-more{%- if use_pagination == 'more-btn-infinite' %} load-on-scroll{%- endif -%}"><span class="load-label">{{ 'products.grid_items.load_more' | t }}</span><span class="load-finished dn">{{ 'products.grid_items.load_finished' | t }}</span><span class="loading-label flex pa">{{ 'products.grid_items.loading' | t }}</span></a>
    {%- else -%}
    <a href="{{ collection.url }}" class="nt_btn_view tu fwb ls__2">{{ 'products.grid_items.view_more' | t }}</a>
    {%- endif -%}
  </div>
  {%- endif -%}
</div>
{%- endpaginate -%}
{%- schema -%}
  {
    "name": "1. Collection Gird",
    "class": "nt-section nt_collection_grid nt-products-element",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
         "type": "select",
         "id": "grid_column",
         "label": "Columns",
         "default": "3",
         "options": [
           {
             "value": "6",
             "label": "2"
           },
           {
             "value": "4",
             "label": "3"
           },
           {
             "value": "3",
             "label": "4"
           },
           {
             "value": "15",
             "label": "5"
           },
           {
             "value": "2",
             "label": "6"
           }
         ]
       },
       {
         "type": "select",
         "id": "grid_columns_md",
         "label": "Columns tablet",
         "default": "4",
         "options": [
           {
             "value": "6",
             "label": "2"
           },
           {
             "value": "4",
             "label": "3"
           },
           {
             "value": "3",
             "label": "4"
           },
           {
             "value": "15",
             "label": "5"
           },
           {
             "value": "2",
             "label": "6"
           }
         ]
       },
      {
        "type": "select",
        "id": "grid_columns_xs",
        "label": "Columns Mobile",
        "default": "6",
        "options": [
          {
            "value": "12",
            "label": "1"
          },
          {
            "value": "6",
            "label": "2"
          }
        ]
      },
      {
        "type": "range",
        "id": "paginate_index",
        "min": 1,
        "max": 50,
        "step": 1,
        "label": "Items per page",
        "info": "Number of items to show per page.",
        "default": 8
      },
      {
        "type": "select",
        "id": "use_pagination",
        "label": "Pagination",
        "default": "more-btn",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "more-btn",
            "label": "Load more button"
          },
          {
            "value": "view-all",
            "label": "'View all' button"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sale_countdown",
        "default": false,
        "label": "Use Sale countdown",
        "info": "Countdown to the end sale date will be shown. Be sure you have set final date of the product sale price. product.metafields.meta.countdown ( 2018/01/19 )"
      },
      {
        "type": "select",
        "id": "countdown_style",
        "label": "Countdown style",
        "default": "dark",
        "options": [
          {
            "value": "default",
            "label": "Countdown timer default"
          },
          {
            "value": "light",
            "label": "Countdown timer light"
          },
          {
            "value": "light_2",
            "label": "Countdown timer light 2"
          },
          {
            "value": "dark",
            "label": "Countdown timer dark"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Design Image"
      },
      {
        "type": "checkbox",
        "id": "use_eq_height",
        "label": "Use equal height images?",
        "default": false
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Aspect Ratio",
        "default": "ratio_nt",
        "options": [
          {
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "value": "ratio4_3",
            "label": "4:3 (Landscape)"
          },
          {
            "value": "ratio1_1",
            "label": "1:1 (Square)"
          },
          {
            "value": "ratio_nt",
            "label": "Ratio Elessi"
          },
          {
            "value": "ratio2_3",
            "label": "2:3 (Portrait)"
          },
          {
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "value": "ratio_cus1",
            "label": "Ratio Custom 1"
          },
          {
            "value": "ratio_cus2",
            "label": "Ratio Custom 2"
          },
          {
            "value": "ratio_cus3",
            "label": "Ratio Custom 3"
          },
          {
            "value": "ratio_cus4",
            "label": "Ratio Custom 4"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image Size",
        "default": "nt_cover",
        "options": [
          {
            "value": "nt_cover",
            "label": "Full"
          },
          {
            "value": "nt_contain",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "image_position",
        "info":"The first value is the horizontal position and the second value is the vertical.",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "1",
            "label": "Left Top"
          },
          {
            "value": "2",
            "label": "Left Center"
          },
          {
            "value": "3",
            "label": "Left Bottom"
          },
          {
            "value": "4",
            "label": "Right Top"
          },
          {
            "value": "5",
            "label": "Right Center"
          },
          {
            "value": "6",
            "label": "Right Bottom"
          },
          {
            "value": "7",
            "label": "Center Top"
          },
          {
            "value": "8",
            "label": "Center Center"
          },
          {
            "value": "9",
            "label": "Center Bottom"
          }
        ],
        "label": "Image Position",
        "default": "8"
      }
    ]
  }
{% endschema %}
