<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern supports-fontface" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <title>
      {{ shop.name }}
    </title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace('no-js', 'yes-js js_active js')</script>
  {%- if request.host contains 'demo-elessi' -%}
  <script type="text/javascript">(function(){var externallyFramed=false;try{externallyFramed=top.location.host!=location.host;}catch(err){externallyFramed=true;}if(externallyFramed){top.location='{{ shop.secure_url }}';}})();</script>
  {% endif %}
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | img_url: '32x' }}">
  {% endif %}
   {%- if settings.favicon_apple != blank and settings.favicon_counter == false -%}
  <link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{{ settings.favicon_apple | img_url: '152x' }}">
  {%- endif -%}

    {% include 'social-meta-tags' %}

    <!-- CSS ================================================== -->
    {%- include 'head_css' -%}
    {{ 'theme_pass.scss.css' | asset_url | stylesheet_tag }}
    {%- include 'css_setting' -%}
    {%- include 'google-fonts' -%}
    {{ content_for_header }}
    {%- include 'nathan_settings' -%}
    <script type="text/javascript" src="{{ 'jquery.min.js' | asset_url }}"></script>
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme_pass.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'theme_pass.js' | asset_url }}"></script><![endif]-->

    <script>
      window.password = window.password || {};

      var password = {
        strings: {
          pageClose: {{ 'general.password_page.close' | t | json }}
        }
      }
    </script>

  </head>

  <body class="template-password">

    <div class="password-page__wrapper">
      {{ content_for_layout }}
    </div>

    <div id="LoginModal" class="password-page__login-form text-center mfp-hide">
      <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <div class="input-group">
        <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
        <span class="input-group-btn">
          <input type="submit" class="btn password-page__login-form__submit" value="{{ 'general.password_page.login_form_submit' | t }}">
        </span>
      </div>
      {% endform %}
      <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>

  </body>
</html>
